//页面样式
#top{
    height:40px;
    background-color:#fff;
    border-bottom:1px solid #f5f5f5;
    .contant{
        width:990px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;//两端对齐
        .left{
            position:relative;
            .logo{
                position:relative;
                margin-right:20px;
                z-index:11;
            }
            span{
                a{
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:10;
                    display:none;
                }
                &:hover a{
                    display:block;
                }
            }
        }
        .right{
            position:relative;
            display:flex;
            h3{
                position:relative;//为了放小图标
                color:#464646;
                font-size:14px;
                line-height:40px;
                font-weight:normal;
                a{
                    &:hover{
                        color:#ff4e00;
                    }
                }
                &.text1{
                    margin-right:20px;
                    padding-left:30px;
                    &::before{
                        position:absolute;
                        top:5px;
                        left:0;
                        content: '';
                        width:30px;
                        height:30px;
                        background:url(../asster/img/ban.png) no-repeat -30px 0;
                    }
                }
                &.text2{
                    padding-right:30px;
                    cursor:pointer;
                    &::after{
                        position:absolute;
                        top:5px;
                        right:5px;
                        content:'';
                        width:30px;
                        height:30px;
                        background:url(../asster/img/ban.png);
                        transform:rotate(90deg);
                        opacity:.1;//透明度
                    }
                    iframe{
                        position:absolute;
                        top:40px;
                        right:20px;
                        width:708px;
                        height:582px;
                        display:none;
                        z-index:11;
                    }
                    &:hover iframe{
                        display:block;
                    }
                }
            }
        
        }
    }
}
//导航栏
#nav{
    position:relative;
    height:130px;
    background:url(../asster/img/beijing.png) no-repeat center;
    z-index:9;
    .contant{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .title{
            display:flex;//怪异盒模型
            a{
                margin:4px 20px 0 0;
            }
            h1{
                // position:relative;
                font-size:24px;
                // line-height:36px;
                // font-weight:bold;
                color:#ffb400;
                margin-top:24px;
                span{
                    display: block;
                    font-size:14px;
                    color:#fff;
                    line-height:20px;
                    font-weight:normal;
                }
            }
        }
        ul{
            display:flex;
            height:100px;
            li{
                a{
                    display:inline-block;
                    width:100px;
                    height:100px;
                    line-height:100px;
                    font-size:16px;
                    color:#fff;
                    text-align:center;
                    &:hover{
                        color:#ffba00;
                        background:url(../asster/img/xian.png) no-repeat 0 -48px;
                    }
                    &.banner{
                        color: #ffba00;
                        text-decoration: underline;
                        background:none;
                    }
                }
            }
        }
    }
}
//内容部分
#set{
    position:relative;
    height:920px;
    background:url(../asster/img/xue.png) no-repeat center bottom;
    margin-top:-30px;
    z-index:8;
    .contant{
        position:relative;
        height:890px;
        background:url(../asster/img/xue.jpg) top center no-repeat;
        .btn{
            position:absolute;
            top:10px;
            left:70%;
            width:232px;
            height:78px;
            background:url(../asster/img/guan.png) no-repeat center;
            text-indent:-99999px;
            overflow:hidden;
        }
        .video{
            position:relative;
            top:654px;
            display:flex;
            width:100%;
            height:163px;
            justify-content:center;
            .play{
                position:relative;
                width:283px;
                height:163px;
                background:url(../asster/img/bei.png);
                display:flex;
                justify-content:center;
                align-items:center;
                &:after{
                    content:'';
                    position:absolute;
                    top:50%;
                    left:50%;
                    width:61px;
                    height:61px;
                    margin:-30px 0 0 -30px;
                    background:url(../asster/img/hu.png);
                    cursor:pointer;
                    animation:bre 1s linear infinite alternate;
                    @keyframes bre{
                        0%{
                            transform:scale(.9);
                        }
                        100%{
                            transform:scale(1);
                        }
                    }
                }
            }
            .erweima{
                width:156px;
                height:156px;
                margin:0 15px;
            }
            .down{
                display:flex;
                flex-wrap:wrap;
                align-content:space-between;
                width:229px;
                height:156px;
                // a{

                // }
            }
        }
    }
}
#set1{
    position:relative;
    height:883px;
    z-index:7;
    background:url(../asster/img/fang.jpg) no-repeat top center;
    margin-top:-30px;
    padding-top:92px;
    box-sizing:border-box;
    h2{
        height:76px;
        background:url(../asster/img/banben.png) no-repeat center;
        text-indent:-9999px;
        overflow:hidden;
    }
    .itemt{
        width:1213px;
        height:99px;
        padding:5px 6px;
        box-sizing:border-box;
        margin:74px auto 0;
        background:url(../asster/img/hei.png) no-repeat -34px -7px;
        .swiper{
            width:1200px;
            height:88px;
            display: flex;
            justify-content: center;
            li{
                width:400px;
                height:88px;
                text-align:center;
                line-height:88px;
                font-size:32px;
                color:#c1910e;
                cursor:pointer;
                background:url(../asster/img/hei.png) no-repeat -33px -221px;
                &.on{
                    background-position: -33px -336px;
                    color: #000;
                }
            }
        }

    }
    .act{
        position:relative;
        width:1200px;
        height:364px;
        margin:18px auto 0;
        background:url(../asster/img/huang.png) no-repeat top left;
        .item{
            position:absolute;
            top:0;
            left:0;
            width:600px;
            height:88px;
            text-align:center;
            line-height:88px;
            color:#000;
            font-size:28px;
        }
        .desc{
            position:absolute;
            top:128px;
            left:50px;
            width:486px;
            height:188px;
            overflow-y:auto;
            line-height:24px;
            color:#e4e4e4;
            font-size:16px;
            padding-right:10px;
        }
        .link{
            position: absolute;
            top: 0;
            left: 599px;
            width: 600px;
            height: 363px;
        }
        &>div{
            opacity:0;
        }
        .edition{
            opacity:1;
        }
    }
    &:after{
        position:absolute;
        bottom:0;
        width:100%;
        height:30px;
        content:'';
        background:url(../asster/img/fang.png) no-repeat center;
    }
    // &:before{
    //     background:url(../asster/img/70.png);
    // }
}

#set2{
    z-index: 6;
    background: url(../asster/img/shuijing.jpg) no-repeat center top;
    h2{
        background-image: url(../asster/img/wan.png);
    }
    .wrap{
        width:1200px;
        margin:0 auto;
        overflow: hidden;
        ul{
            display: flex;
            // width:6000px;
        }
    }
    &:after{
        background-image:  url(../asster/img/shuijing.png);
    }
}
#set3{
    z-index:5;
    background:url(../asster/img/set3-1.jpg) no-repeat center top;
    h2{
        background-image:url(../asster/img/chang.png);
    }
    .bottom{
        background: url(../asster/img/bottom1.png) no-repeat center;
    }
    ul{
        position:absolute;
        bottom:60px;
        width:100%;
        display: flex;
        justify-content: center;
        li{
            width:144px;
            text-align:center;
            margin:0 10px;
            cursor:pointer;
            img{
                border:2px solid transparent;//透明
            }
            p{
                color:#c2c2c2;
                font-size:26px;
                text-align:center;
                margin-top:18px;
            }
            &.active{
                img{
                    border-color:#ffbf05;
                }
                p{
                    color:#ffbf05;
                }
            }
        }
    }
}
#set4{
    z-index:4;
    background:url(../asster/img/qiang.jpg) no-repeat center top;
    h2{
        background-image:url(../asster/img/zaiju.png);
    }
    .wrap{
        width:1200px;
        margin:0 auto;
        overflow:hidden;
        ul{
            display:flex;
            width:2400px;
        }
    }
    &:after{
        background-image:url(../asster/img/qiang.png);
    }
}
#set5{
    z-index:3;
    background:url(../asster/img/chai.jpg) no-repeat center top;
    h2{
        background-image: url(../asster/img/rong.png);
    }
    ul{
        display: flex;
        justify-content:center;
        margin-top:88px;
        li{
            width:395px;
            height:440px;
            text-align: center;
            border:2px solid #ffbf05;
            background:rgba(0, 0, 0, .5);
            margin:0 4px;
            h3{
                width:197px;
                height:37px;
                line-height:37px;
                text-align:center;
                margin:26px auto 19px;
                font-weight: normal;
                background:url(../asster/img/image.png) no-repeat -423px -255px;
            }
            p{
                width:318px;
                height:123px;
                margin:0 auto;
                font-size: 16px;
                color:#e4e4e4;
                text-align:left;
                overflow: hidden;
            }
        }
    }
    &:after{
        background-image:url(../asster/img/chai.png);
    }
}
#set6{
    z-index:2;
    background: url(../asster/img/dashui.jpg) no-repeat center top;
    h2{
        background-image:url(../asster/img/xi.png);
    }
    ul{
        display: flex;
        justify-content: center;
        margin-top:80px;
        li{
            display: flex;
            margin:0 5px;
            h3{
                width:92px;
                height:510px;
                font-weight:normal;
                background: url(../asster/img/image.png) no-repeat -142px -389px;
                color:#bcbcbc;
                display:flex;
                justify-content: center;
                align-items: center;
                cursor:pointer;
                p{
                    width:32px;
                    font-size:32px;
                    line-height:32px;
                }
            }
            div{
                width:545px;
                height:510px;
                background:url(../asster/img/box.png) no-repeat top center/100% 100%;
                overflow:hidden;
                width:0;
                opacity: 0;
                transition:.7s ease-out;//速度从快到慢
                padding-top:60px;
                box-sizing:border-box;
                p{
                    width:495px;
                    height:390px;
                    padding:0 25px 0;
                    padding-right:8px;
                    font-size:20px;
                    color:#c7c7c7;
                    line-height: 38px;
                    overflow-y:auto;
                    box-sizing:border-box;
                }
            }
            &.active{
                h3{
                    color:#875d00;
                    background-position: -24px -389px;
                    margin-right:10px;
                }
                div{
                    width:545px;
                    opacity:1;
                }
            }
        }
    }
    &:after{
        background-image: url(../asster/img/dashui.png);
    }
}
#set7{
    z-index:1;
    background:url(../asster/img/an.jpg) no-repeat center top;
    h2{
        background-image:url(../asster/img/te.png);
    }
    .wrap{
        ul{
            position:relative;
            width:1000px;
            height:495px;
            margin:0 auto;
            li{
                position:absolute;
                width:858px;
                height:495px;
                img{
                    width:100%;
                    height:100%;
                }
                &:nth-child(1){
                    //左边的图
                    left:0;
                    opacity: .5;
                    z-index:2;
                    transform: scale(.8);
                    transform-origin:left;
                }
                &:nth-child(2){
                    //中间的图
                    left:50%;
                    z-index:3;
                    transform:translateX(-50%);
                }
                &:nth-child(3){
                    //左边的图
                    right:0;
                    opacity: .5;
                    z-index:2;
                    transform: scale(.8);
                    transform-origin:right;
                }
                &:nth-child(n+4){
                    //后边的图 第四个以后的图片
                    left:50%;
                    opacity: .5;
                    z-index:1;
                    transform: translateX(-50%) scale(.8);
                }
            }
        }
    }
    .circle{
        margin-top:50px;
    }
    &:after{
        background-image:url(../asster/img/an.png);
    }
}
//通用的样式
.public{
    position: relative;
    height: 880px;
    margin-top: -30px;
    padding-top: 92px;
    box-sizing: border-box;
    h2{
        height:66px;
        background: no-repeat center;
        text-indent:-9999px;
        overflow:hidden;
    }
    .wrap{
        ul{
            li{
                display: flex;
                img,.text{
                    width:600px;
                    height:424px;
                }
                .text{
                    background:rgba(0,0,0,.5);
                    h3{
                        font-size:26px;
                        color:#000;
                        font-weight:normal;
                        line-height:62px;
                        text-align:center;
                        background:#ffbf05;
                    }
                    p{
                        width:540px;
                        height:280px;
                        padding:0 10px;
                        margin:40px auto 0;
                        box-sizing:border-box;
                        font-size:16px;
                        line-height:30px;
                        color:#e4e4e4;
                        overflow-y:auto;
                    }
                }
            }
        }
    }
    .cont{
        position:relative;
        width:1400px;
        margin:90px auto 0;
    }
    .btn{
        bottom{
            position:absolute;
            top:50%;
            width: 57px;
            height:115px;
            margin-top:-58px;
            background:url(../asster/img/image.png) no-repeat;
            cursor:pointer;
            &.left{
                left:0;
                background-position: -24px -255px;
                &:hover{
                    background-position: -99px -255px;
                }
            }
            &.right{
                right:0;
                background-position: -184px -255px;
                &:hover{
                    background-position: -266px -255px;
                }
            }
        }
    }
    .circle{
        display: flex;
        margin-top:90px;
        justify-content: center;
        span{
            width:21px;
            height:21px;
            border-radius: 50%;
            background:#898179;
            cursor:pointer;
            margin:0 5px;
            &.active{
                background:#ffbf05;
            }
        }
    }
    &:after,.bottom{
        content: '';
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        background: no-repeat center;
    }
}
// 底部
#footer{
    margin-top:-30px;
    font-size:12px;
    line-height: 20px;
    background:#000;
    .cont{
        width:1200px;
        height:240px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;//水平居中
        align-items: center;//垂直居中
        .left{
            .logo{
                a{
                    margin-right:10px;
                }
            }
            ul{
                width:320px;
                display: flex;
                flex-wrap: wrap;//让弹性盒元素在必要的时候拆行：
                margin-top:20px;
                li{
                    color:#fff;
                    margin:0 3px;
                }
            }
        }
        .right{
            p,a{
                color:#fff;
            }
        }
    }
}
//遮挡布
.shadow{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    min-height:200rem;
    background:rgba(0,0,0,.7);
    z-index:19;
    display:none;
    .dilog{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:1063px;
        height:608px;
        padding:9px 8px;
        background:url(../asster/img/kuang.png) no-repeat center;
        box-sizing:border-box;
        margin: auto;
        z-index:20;
        .mvvm{
            height:588px;
            overflow:hidden;
        }
        .close{
            position:absolute;
            top:7px;
            right:-102px;
            width:75px;
            height:75px;
            cursor:pointer;
            background:url(../asster/img/cha.png) no-repeat;
        }
    }
}
//旁边
.foot-nav{
    position:fixed;
    top:50%;
    right:0;
    width:150px;
    z-index:8;
    transform: translateY(-50%);
    li{
        position:relative;
        width:100%;
        height:54px;
        font-size:12px;
        padding:34px 0 0 26px;
        box-sizing:border-box;
        cursor:pointer;
        a{
            display: block;
            width:100%;
            color:#fff;
        }
        &:hover,&.no{
            a{
                color:#ffbf05;
            }
            &:after{
                content:'';
                position:absolute;
                left:0;
                bottom:0;
                width:20px;
                height:20px;
                background:url(../asster/img/image.png) no-repeat -345px -342px;
            }
        }
        &:nth-child(n+2){
            &:before{
                content: '';
                position: absolute;
                top: 4px;
                left: 68px;
                width: 1px;
                height: 26px;
                background: url(../asster/img/image.png) no-repeat -391px -257px;
            }
        }
            
    }
}