#top {
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}
#top .contant {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#top .contant .left {
  position: relative;
}
#top .contant .left .logo {
  position: relative;
  margin-right: 20px;
  z-index: 11;
}
#top .contant .left span a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#top .contant .left span:hover a {
  display: block;
}
#top .contant .right {
  position: relative;
  display: flex;
}
#top .contant .right h3 {
  position: relative;
  color: #464646;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}
#top .contant .right h3 a:hover {
  color: #ff4e00;
}
#top .contant .right h3.text1 {
  margin-right: 20px;
  padding-left: 30px;
}
#top .contant .right h3.text1::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url(../asster/img/ban.png) no-repeat -30px 0;
}
#top .contant .right h3.text2 {
  padding-right: 30px;
  cursor: pointer;
}
#top .contant .right h3.text2::after {
  position: absolute;
  top: 5px;
  right: 5px;
  content: '';
  width: 30px;
  height: 30px;
  background: url(../asster/img/ban.png);
  transform: rotate(90deg);
  opacity: 0.1;
}
#top .contant .right h3.text2 iframe {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 708px;
  height: 582px;
  display: none;
  z-index: 11;
}
#top .contant .right h3.text2:hover iframe {
  display: block;
}
#nav {
  position: relative;
  height: 130px;
  background: url(../asster/img/beijing.png) no-repeat center;
  z-index: 9;
}
#nav .contant {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#nav .contant .title {
  display: flex;
}
#nav .contant .title a {
  margin: 4px 20px 0 0;
}
#nav .contant .title h1 {
  font-size: 24px;
  color: #ffb400;
  margin-top: 24px;
}
#nav .contant .title h1 span {
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  font-weight: normal;
}
#nav .contant ul {
  display: flex;
  height: 100px;
}
#nav .contant ul li a {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#nav .contant ul li a:hover {
  color: #ffba00;
  background: url(../asster/img/xian.png) no-repeat 0 -48px;
}
#nav .contant ul li a.banner {
  color: #ffba00;
  text-decoration: underline;
  background: none;
}
#set {
  position: relative;
  height: 920px;
  background: url(../asster/img/xue.png) no-repeat center bottom;
  margin-top: -30px;
  z-index: 8;
}
#set .contant {
  position: relative;
  height: 890px;
  background: url(../asster/img/xue.jpg) top center no-repeat;
}
#set .contant .btn {
  position: absolute;
  top: 10px;
  left: 70%;
  width: 232px;
  height: 78px;
  background: url(../asster/img/guan.png) no-repeat center;
  text-indent: -99999px;
  overflow: hidden;
}
#set .contant .video {
  position: relative;
  top: 654px;
  display: flex;
  width: 100%;
  height: 163px;
  justify-content: center;
}
#set .contant .video .play {
  position: relative;
  width: 283px;
  height: 163px;
  background: url(../asster/img/bei.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
#set .contant .video .play:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 61px;
  height: 61px;
  margin: -30px 0 0 -30px;
  background: url(../asster/img/hu.png);
  cursor: pointer;
  animation: bre 1s linear infinite alternate;
}
@keyframes bre {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
#set .contant .video .erweima {
  width: 156px;
  height: 156px;
  margin: 0 15px;
}
#set .contant .video .down {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 229px;
  height: 156px;
}
#set1 {
  position: relative;
  height: 883px;
  z-index: 7;
  background: url(../asster/img/fang.jpg) no-repeat top center;
  margin-top: -30px;
  padding-top: 92px;
  box-sizing: border-box;
}
#set1 h2 {
  height: 76px;
  background: url(../asster/img/banben.png) no-repeat center;
  text-indent: -9999px;
  overflow: hidden;
}
#set1 .itemt {
  width: 1213px;
  height: 99px;
  padding: 5px 6px;
  box-sizing: border-box;
  margin: 74px auto 0;
  background: url(../asster/img/hei.png) no-repeat -34px -7px;
}
#set1 .itemt .swiper {
  width: 1200px;
  height: 88px;
  display: flex;
  justify-content: center;
}
#set1 .itemt .swiper li {
  width: 400px;
  height: 88px;
  text-align: center;
  line-height: 88px;
  font-size: 32px;
  color: #c1910e;
  cursor: pointer;
  background: url(../asster/img/hei.png) no-repeat -33px -221px;
}
#set1 .itemt .swiper li.on {
  background-position: -33px -336px;
  color: #000;
}
#set1 .act {
  position: relative;
  width: 1200px;
  height: 364px;
  margin: 18px auto 0;
  background: url(../asster/img/huang.png) no-repeat top left;
}
#set1 .act .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 88px;
  text-align: center;
  line-height: 88px;
  color: #000;
  font-size: 28px;
}
#set1 .act .desc {
  position: absolute;
  top: 128px;
  left: 50px;
  width: 486px;
  height: 188px;
  overflow-y: auto;
  line-height: 24px;
  color: #e4e4e4;
  font-size: 16px;
  padding-right: 10px;
}
#set1 .act .link {
  position: absolute;
  top: 0;
  left: 599px;
  width: 600px;
  height: 363px;
}
#set1 .act > div {
  opacity: 0;
}
#set1 .act .edition {
  opacity: 1;
}
#set1:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  content: '';
  background: url(../asster/img/fang.png) no-repeat center;
}
#set2 {
  z-index: 6;
  background: url(../asster/img/shuijing.jpg) no-repeat center top;
}
#set2 h2 {
  background-image: url(../asster/img/wan.png);
}
#set2 .wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#set2 .wrap ul {
  display: flex;
  width: 6000px;
}
#set2:after {
  background-image: url(../asster/img/shuijing.png);
}
#set3 {
  z-index: 5;
  background: url(../asster/img/set3-1.jpg) no-repeat center top;
}
#set3 h2 {
  background-image: url(../asster/img/chang.png);
}
#set3 .bottom {
  background: url(../asster/img/bottom1.png) no-repeat center;
}
#set3 ul {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#set3 ul li {
  width: 144px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
#set3 ul li img {
  border: 2px solid transparent;
}
#set3 ul li p {
  color: #c2c2c2;
  font-size: 26px;
  text-align: center;
  margin-top: 18px;
}
#set3 ul li.active img {
  border-color: #ffbf05;
}
#set3 ul li.active p {
  color: #ffbf05;
}
#set4 {
  z-index: 4;
  background: url(../asster/img/qiang.jpg) no-repeat center top;
}
#set4 h2 {
  background-image: url(../asster/img/zaiju.png);
}
#set4 .wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#set4 .wrap ul {
  display: flex;
  width: 2400px;
}
#set4:after {
  background-image: url(../asster/img/qiang.png);
}
#set5 {
  z-index: 3;
  background: url(../asster/img/chai.jpg) no-repeat center top;
}
#set5 h2 {
  background-image: url(../asster/img/rong.png);
}
#set5 ul {
  display: flex;
  justify-content: center;
  margin-top: 88px;
}
#set5 ul li {
  width: 395px;
  height: 440px;
  text-align: center;
  border: 2px solid #ffbf05;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 4px;
}
#set5 ul li h3 {
  width: 197px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  margin: 26px auto 19px;
  font-weight: normal;
  background: url(../asster/img/image.png) no-repeat -423px -255px;
}
#set5 ul li p {
  width: 318px;
  height: 123px;
  margin: 0 auto;
  font-size: 16px;
  color: #e4e4e4;
  text-align: left;
  overflow: hidden;
}
#set5:after {
  background-image: url(../asster/img/chai.png);
}
#set6 {
  z-index: 2;
  background: url(../asster/img/dashui.jpg) no-repeat center top;
}
#set6 h2 {
  background-image: url(../asster/img/xi.png);
}
#set6:after {
  background-image: url(../asster/img/dashui.png);
}
#set7 {
  z-index: 1;
  background: url(../asster/img/an.jpg) no-repeat center top;
}
#set7 h2 {
  background-image: url(../asster/img/te.png);
}
#set7:after {
  background-image: url(../asster/img/an.png);
}
.public {
  position: relative;
  height: 880px;
  margin-top: -30px;
  padding-top: 92px;
  box-sizing: border-box;
}
.public h2 {
  height: 66px;
  background: no-repeat center;
  text-indent: -9999px;
  overflow: hidden;
}
.public .wrap ul li {
  display: flex;
}
.public .wrap ul li img,
.public .wrap ul li .text {
  width: 600px;
  height: 424px;
}
.public .wrap ul li .text {
  background: rgba(0, 0, 0, 0.5);
}
.public .wrap ul li .text h3 {
  font-size: 26px;
  color: #000;
  font-weight: normal;
  line-height: 62px;
  text-align: center;
  background: #ffbf05;
}
.public .wrap ul li .text p {
  width: 540px;
  height: 280px;
  padding: 0 10px;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  color: #e4e4e4;
  overflow-y: auto;
}
.public .cont {
  position: relative;
  width: 1400px;
  margin: 90px auto 0;
}
.public .btn bottom {
  position: absolute;
  top: 50%;
  width: 57px;
  height: 115px;
  margin-top: -58px;
  background: url(../asster/img/image.png) no-repeat;
  cursor: pointer;
}
.public .btn bottom.left {
  left: 0;
  background-position: -24px -255px;
}
.public .btn bottom.left:hover {
  background-position: -99px -255px;
}
.public .btn bottom.right {
  right: 0;
  background-position: -184px -255px;
}
.public .btn bottom.right:hover {
  background-position: -266px -255px;
}
.public .circle {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}
.public .circle span {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #898179;
  cursor: pointer;
  margin: 0 5px;
}
.public .circle span.active {
  background: #ffbf05;
}
.public:after,
.public .bottom {
  content: '';
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: no-repeat center;
}
#footer {
  margin-top: -30px;
  font-size: 12px;
  line-height: 20px;
  background: #000;
}
#footer .cont {
  width: 1200px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .cont .left .logo a {
  margin-right: 10px;
}
#footer .cont .left ul {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#footer .cont .left ul li {
  color: #fff;
  margin: 0 3px;
}
#footer .cont .right p,
#footer .cont .right a {
  color: #fff;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 200rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 19;
  display: none;
}
.shadow .dilog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1063px;
  height: 608px;
  padding: 9px 8px;
  background: url(../asster/img/kuang.png) no-repeat center;
  box-sizing: border-box;
  margin: auto;
  z-index: 20;
}
.shadow .dilog .mvvm {
  height: 588px;
  overflow: hidden;
}
.shadow .dilog .close {
  position: absolute;
  top: 7px;
  right: -102px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: url(../asster/img/cha.png) no-repeat;
}
